.membershipInfo {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 2em 0 3em 0;
    border-radius: 1em;
    background-color: whitesmoke ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.membershipContainer {
    /* Fix the withe space under the backgorund picture so ther is no white space */
    background-image: url(../Images/SchoolFrontPage.png);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding-top: 5em;
    padding-bottom: 5em;
}

.membershipBoxes {
    text-align: start;
}

.membershipContainer h5 {
    font-size: 18px;
}
.membershipContainer p {

    font-size: 15px;
}

.textBox {
    margin: 2em;
}

.membersipTitle {
    text-decoration: underline;
}